.Container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center; 
}
.DisplayPhoto{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center; 

}

.image{
  order: 1;
    width: 50vw;
    height: 30vw;
    border-radius: 8px;
    
}
.Description{
  order:1s;
  width: 30vw;
  text-align: center;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
}


@keyframes fadein {
  from {opacity:0;}
  to { opacity:1;}
}
@-moz-keyframes fadein { 
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes fadein { 
  from {opacity:0;}
  to {opacity:1;}
}
@-o-keyframes fadein { 
  from {opacity:0.5;}
  to {opacity: 1;}
}
