.Frame{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center; 
}
.Box1{
order: 1;
background-color:#57c04c;
width: 40%;
text-align: center;
border-radius: 8px;
font-family: 'Poppins', sans-serif;
font-size: 1.5vw;
    
}
.Box2{
  order:1s;
background-color:#57c04c;
width: 40%;
text-align: center;
border-radius: 8px;
font-family: 'Poppins', sans-serif;
font-size: 1.5vw;
}
.FramePhoto{
  width: 100%;
  border-radius: 8px;
}