.error{
    display: table;
    width: 98%;
    height: auto;
    margin: 0 auto;
    background-color: rgb(190, 38, 38);
    font-family: "Bungee Inline", cursive;
    text-align: center;
   

}
.SearchResult{
    display: table;
    width: 98%;
    height: auto;
    margin: 0 auto;
    background-color: rgb(98, 230, 98);
    font-family: "Antonio", cursive;
    text-align: center;
    font-size: 1.3em; 
}
.ProperData{
order: 1;
background-color:#ffffff;
height: 40vw;
width: 100%;
align-self: baseline;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 5vw;
border-radius: 8px;
background-color: rgb(182, 182, 182);
}
.InputsBefore{
    margin-top: 1em;
   display: flex;
   justify-content: center;
   margin: 0 auto;
   width: 98%;
   height: 5vw;
   flex-direction: column;
}
.InputsAfter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center; 
    margin-top: 2vw;
    margin-bottom: 2vw;
    opacity:0.5;
}
.InputsAfter:hover{
    animation: fadeinhalf 1s;
    -moz-animation: fadeinhalf 1s; 
    -webkit-animation: fadeinhalf 1s; 
    -o-animation: fadeinhalf 1s;
    opacity:1;
}
.DateAfter{
    order: 1;
    width: 40%;
    text-align: center;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;  
}
.TimeAfter{
    order:1s;
    width: 40%;
    text-align: center;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
}
select {
    border-radius:  8px;
    border: solid 1px #2c3e50;
    color: #2c3e50;
    width: 90%;
    height: 5vw;
    font-size: 20px;
    box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-box-shadow: 0 0 0 30px #ffffff inset;
}
.fadein-container{
    animation: fadein 2s;
-moz-animation: fadein 2s; 
-webkit-animation: fadein 2s; 
-o-animation: fadein 2s;
}
.fadeout-container{
    animation: fadeout 2s;
-moz-animation: fadeout 2s; 
-webkit-animation: fadeout 2s; 
-o-animation: fadeout 2s;
}
.NoDisplay{
    display: none;
}
@keyframes fadein {
    from {opacity:0;}
    to { opacity:1;}
}
@-moz-keyframes fadein { 
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { 
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { 
    from {opacity:0.5;}
    to {opacity: 1;}
}

@keyframes fadeinhalf {
    from {opacity:0.5;}
    to { opacity:1;}
}
@-moz-keyframes fadeinhalf { 
    from {opacity:0.5;}
    to {opacity:1;}
}
@-webkit-keyframes fadeinhalf { 
    from {opacity:0.5;}
    to {opacity:1;}
}
@-o-keyframes fadeinhalf { 
    from {opacity:0.5;}
    to {opacity: 1;}
}



@keyframes fadeout {
    from {opacity:1;}
    to {opacity:0.5;}
}
@-moz-keyframes fadeout { 
    from {opacity:1;}
    to {opacity:0.5;}
}
@-webkit-keyframes fadeout { 
    from {opacity:1;}
    to { opacity:0.5;}
}
@-o-keyframes fadeout { 
    from {opacity:1;}
    to {opacity: 0.5;}
}